<div class="row">
    <div class="col-3 mb-5" *ngFor="let pelicula of peliculas">
        <img [src]="pelicula.poster_path | poster:300" class="img-fluid poster" (click)="clickenPelicula(pelicula.id)">
        <div>
            <h3>{{pelicula.title}}</h3>
            <div class="row text-white">
                <div class="col-10">
                    <star-rating [value]="pelicula.vote_average" totalstars="10" checkedcolor="yellow" uncheckedcolor="gray" size="16px" readonly="false"></star-rating>
                </div>
                <div class="col-2 text-white">
                    {{pelicula.vote_average | number:'.1-2'}}
                </div>
            </div>
        </div>
    </div>
</div>